# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Datasets
data/raw/
data/processed/
*.csv

# Evaluation outputs
evaluation_results.csv
apple_support_final_evaluation.csv

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
